<h1>在庫移動履歴の確認画面</h1>
<p>移動元在庫: <%= @stock_move.from_stock&.quantity || 0 %></p>
<p>移動先在庫: <%= @stock_move.to_stock&.quantity || 0 %></p>
<p>本のタイトル: <%= @stock_move.book.title %></p>
<p>移動元: <%= @stock_move.from_location.name %>から</p>
<p>移動先: <%= @stock_move.to_location.name %>へ</p>
<p>移動する数: <%= @stock_move&.quantity || 0 %></p>
<%= form_with model: @stock_move, url: stock_moves_path, method: :post, local: true, data: { turbo: false } do |f| %>
  <%= f.hidden_field :book_id %>
  <%= f.hidden_field :from_location_id %>
  <%= f.hidden_field :to_location_id %>
  <%= f.hidden_field :quantity %>
  <%= f.submit "在庫の移動を確定する" %>
<% end %>
<%= link_to "在庫移動一覧", stock_moves_path %>
