<h1>在庫移動</h1>
<%= form_with model: @stock_move, url: confirm_stock_moves_path, data: { turbo: false } do |f| %>
  <div>
    <%= f.label :book_id, "本" %><br>
    <%= f.collection_select :book_id, @books, :id, :title %>
  </div>
  <div>
    <%= f.label :from_location_id, "移動元" %><br>
    <%= f.collection_select :from_location_id, @locations, :id, :name %>
  </div>
  <div>
    <%= f.label :to_location_id, "移動先" %><br>
    <%= f.collection_select :to_location_id, @locations, :id, :name %>
  </div>
  <div>
    <%= f.label :quantity, "数" %><br>
    <%= f.number_field :quantity, min: 1 %>
  </div>
  <div>
    <%= f.submit "移動する" %>
  </div>
<% end %>
