<h1>在庫を追加する</h1>
<%= form_with model: @stock do |f| %>
  <div>
    <%= f.label :book_id, "本" %>
    <%= f.collection_select :book_id, @books, :id, :title %>
  </div>
  <div>
    <%= f.label :location_id, "ロケーション" %>
    <%= f.collection_select :location_id, @locations, :id, :name %>
  </div>
  <div>
    <%= f.label :quantity, "数量" %>
    <%= f.number_field :quantity, min: 1 %>
  </div>
  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>
