<div class="books-container">
  <h1>教科書一覧</h1>
  <div class="books-search">
    <%= form_with url: books_path, method: :get, local: true do |f| %>
      <div class="search-field">
        <%= f.text_field :title, placeholder: "本のタイトル" %>
        <%= f.text_field :isbn, placeholder: "ISBN" %>
        <%= f.text_field :rack_number, placeholder: "棚番号" %>
      </div>
        <%= f.submit "検索", class: "search-button" %>
    <% end %>
  </div>
  <div class="sort-book-link-list">
    <%= link_to "作成日早い順", books_path(order: "desc") %>
    <%= link_to "作成日遅い順", books_path(order: "asc") %>
  </div>
</div>
<table class="books-table">
  <thead>
      <tr>
        <th>タイトル</th>
        <th>棚の番号</th>
        <th>ISBN</th>
        <th>作成日</th>
        <th>取り寄せ</th>
        <th>情報</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
  </thead>

  <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.rack_number %></td>
          <td><%= book.isbn %></td>
          <td><%= I18n.l(book.created_at, format: :datetime_jp) %></td>
          <td><%= book_status_icon(book) %></td>
          <td><%= link_to "教科書の情報", book %></td>
          <td><%= link_to "教科書の編集", [:edit, book] %></td>
          <td><%= link_to "削除", book, data: { turbo_method: :delete, turbo_confirm: "教科書を削除しますか？" } %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<p class="books-link"><%= link_to "教科書を新しく登録する", :new_book %></p>
