<h1>教科書の情報,books/show</h1>
<table>
  <tr>
    <th>タイトル</th>
    <td><%= @book.title %></td>
  </tr>
  <tr>
    <th>教科書の数</th>
    <td><%= @book.book_quantity %></td>
  </tr>
  <tr>
    <th>棚の番号</th>
    <td><%=@book.rack_number %></td>
  </tr>
  <tr>
    <th>ISBN</th>
    <td><%= @book.isbn %></td>
  </tr>
  <tr>
    <th>備考欄</th>
    <td><%= @book.note %></td>
  </tr>
</table>
<p><%= link_to "教科書一覧", :books %></p>

<p>在庫移動（倉庫 → ピック場）</p>
<%= form_with model: [@book, StockMove.new], data: { turbo: false } do |f| %>
  <%= f.hidden_field :move_type, value: "to_pick" %>
  <div>
    <%= f.label :quantity, "pick場に移動する本の数" %><br>
    <%= f.number_field :quantity %>
  </div>
  <div>
    <%= f.submit "倉庫からpick場に在庫を移動する" %>
  </div>
<% end %>
